programs/rc/misc/xml/countries.xml

<?xml version="1.0"?><definitions name="countries.webservice.mobilefish.com" targetNamespace="urn:countries.webservice.mobilefish.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:countries.webservice.mobilefish.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/">
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:countries.webservice.mobilefish.com">
<complexType name="RegionsData">
<all>
<element name="ianacode" type="xsd:string" />
<element name="regionname" type="xsd:string" />
<element name="latitude" type="xsd:float" />
<element name="longitude" type="xsd:float" />
</all>
</complexType>
<complexType name="RegionList">
<complexContent>
<restriction base="SOAP-ENC:Array">
<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:RegionsData[]" />
</restriction>
</complexContent>
</complexType>
<complexType name="CountryData">
<all>
<element name="ianacode" type="xsd:string" />
<element name="countryname" type="xsd:string" />
<element name="latitude" type="xsd:float" />
<element name="longitude" type="xsd:float" />
</all>
</complexType>
<complexType name="IANAData">
<all>
<element name="ianacode" type="xsd:string" />
<element name="countryname" type="xsd:string" />
</all>
</complexType>
<complexType name="IANAList">
<complexContent>
<restriction base="SOAP-ENC:Array">
<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:IANAData[]" />
</restriction>
</complexContent>
</complexType>
</schema>
</types>
<message name="countryInfoByIanaRequest">
<part name="ianacode" type="xsd:string" />
</message>
<message name="countryInfoByIanaResponse">
<part name="countryinfo" type="tns:CountryData" />
</message>
<message name="regionsInfoByIanaRequest">
<part name="ianacode" type="xsd:string" />
</message>
<message name="regionsInfoByIanaResponse">
<part name="regionlist" type="tns:RegionList" />
</message>
<message name="getIANAInfoRequest" />
<message name="getIANAInfoResponse">
<part name="ianalist" type="tns:IANAList" />
</message>
<portType name="countries.webservice.mobilefish.comPort">
<operation name="countryInfoByIana">
<input message="tns:countryInfoByIanaRequest" />
<output message="tns:countryInfoByIanaResponse" />
</operation>
<operation name="regionsInfoByIana">
<input message="tns:regionsInfoByIanaRequest" />
<output message="tns:regionsInfoByIanaResponse" />
</operation>
<operation name="getIANAInfo">
<input message="tns:getIANAInfoRequest" />
<output message="tns:getIANAInfoResponse" />
</operation>
</portType>
<binding name="countries.webservice.mobilefish.comBinding" type="tns:countries.webservice.mobilefish.comPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="countryInfoByIana">
<soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Countries#countryInfoByIana" />
<input>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="regionsInfoByIana">
<soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Countries#regionsInfoByIana" />
<input>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="getIANAInfo">
<soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Countries#getIANAInfo" />
<input>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="http://schemas.xmlsoap.org/soap/envelope/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="countries.webservice.mobilefish.comService">
<documentation />
<port name="countries.webservice.mobilefish.comPort" binding="tns:countries.webservice.mobilefish.comBinding">
<soap:address location="http://www.mobilefish.com/services/web_service/countries.php" />
</port>
</service>
</definitions>
